.index{
    background-color: white;
}

.index_se1{
    /* background: purple; */
    background-image: url(/static/images/1.jpg);
    color: white;
}

.index_se1_div_1{
    padding-top: 8em;
    padding-bottom: 8em;
 
}

.index_se1_div_1_btn{
    margin-left: 10em;
    margin-right: 10em;
}

.index_se1_div_1_main{
    text-align: center;
}

.index_se1_div_1_main div button{
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    font-size: 20px;
}






.index_sec2_job{
    border:  solid 3px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;

}

.job_details_sec2{
    border: solid  0px;
    background-color: grey;
    margin-top: 31em;

}

.job_img{

   margin-top: 1em;
   margin-left: 5px;

}


.index_sec3{
    background:   #34495E;
    color: white;
    padding-top: 5em;
    padding-bottom: 5em;
}

.index_sec3_row2 p{
    text-align: center;
    margin-bottom: 0em;
    font-size: 20px;

}

.index_sec3_form{
    text-align: center;
    /* background-color: orange; */
}

.HIRE_sec_div_form {
    background-color: blue;
    border-radius: 30px;
}


.Company_name{
    color: white;
  
}


.status{
    margin-bottom: 2em;
}


.Company_name{
    color: red;
}





