* {
    margin: 0;
    padding: 0;
  }

.index{
    background-color: white;
}

.index_se1{
    /* background: purple; */

    background-image: url(../images/1.jpg);

    color: white;
}



.index_se1_div_1{
    padding-top: 8em;
    padding-bottom: 8em;
 
}

.index_se1_div_1_btn{
text-align: center;
margin-top: -6em;
margin-bottom: 10em;
}

.index_se1_div_1_main{
    text-align: center;
}

.index_se1_div_1_main div button{
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    font-size: 20px;
}

.index_sec2_job{
    border:  solid 3px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;

}

.job_details_sec2{
    border: solid  0px;
    background-color: grey;
    margin-top: 31em;

}

.job_img{

   margin-top: 1em;
   margin-left: 5px;

}


.index_sec3{
    background:   #34495E;
    color: white;
    padding-top: 5em;
    padding-bottom: 5em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.index_sec3_row2 p{
    text-align: center;
    margin-bottom: 0em;
    font-size: 20px;

}

.index_sec3_form{
    text-align: center;
    /* background-color: orange; */
}


.index_sec4{
    background:   white;
    color: black;
    padding-top: 5em;
    padding-bottom: 5em;
    margin-bottom: 2em;
}

.HIRE_sec_div_form {
    background-color: blue;
    border-radius: 30px;
}


.Company_name{
    color: white;
  
}


.status{
    margin-bottom: 2em;
}


.Company_name{
    color: red;
}


.dev_pic{
    width: 100px;
    height: 100px;
    border-radius: 50px;

}

.dev{
    border: solid ;
    border-radius: 3em;
}



.a{
	border: black 3px solid ;	
	border-radius: 10px;
	background: greyi;
	margin-top: 2em;
}

.b{
	margin-left:  -50px;
	margin-right:  10px;
	text-align: justify-all;
}

.img_q{
	width: 50px;
	height:50px;
	border-radius: 100%;
	margin-top:5px ;
	margin-left: 5px;
	margin-right: 5px;

}

.sam{
	width: 100px;
	margin-top: -1em;
	margin-left: 1em;
}

.sam1{
	width: 100px;
	margin-top: -1em;
	margin-left: 30em;
}

.b p{

    margin-top: -1em;
}



/* post job css start here */




.post1{
	margin-top: 3em;
    margin-bottom: 3em;
}


.post2{
	background: grey;
	margin-bottom: 3em;
    color: white;

}

.post2 div div {
padding-top: 2px;
padding-bottom: 2px;

}

.post2 div div p {
	margin-bottom: -4px;
	padding-top: 2px;
	padding-bottom:  2px;

}



.post5{
	border-radius: 10px;
	background: blue;
	color: white;
    margin-bottom: 3em;
    padding-bottom: 2em;
    padding-top: 2em;
}

.login_div{

    margin-top: 10em;
    border:  2px solid;
    text-align:  center;
    border-radius: 2em;
}



/* sec area */

.sec_btn_small a{
    margin-left: 2em;
    border: 2px;
}

.index_se1_btn1{
    margin-right: -30em;
}

.index_se1_btn2{
    margin-left: -30em;
}

.status_link{
    text-align: center;
}
/* 
media queary */


@media screen and (max-width: 800px) {
    .index {
      background-color: purple;
    }


    /* this area is for sec */

    .index_se1_div_1{   

        padding-left: 8em;
    }

    .index_se1_btn1{
        margin-right:-10em;
    }
    
    .index_se1_btn2{
        margin-left: -10em;
    }


    /* this area is for sec */

  }

/* phone tablet version */




@media screen and (max-width: 600px) {
    .index {
      background-color: red;
    }

    /* this area is for sec */

    .index_se1_div_1{   
      
        text-align: center;
    }

    .index_se1_div_1_main{
        margin-left: -4em;
        
    }

   .index_se1_div_1_main h1{
        margin-top: -4em;
        margin-bottom: 2em;
        
    }

    .index_se1_div_1_btn{

        margin-bottom: 2em;
    }

    .index_se1_btn1{
        margin-right:-0em;
    }
    
    .index_se1_btn2{
        margin-left: 0em;
    }


    .btn_space1{
        margin-bottom: 1em;
    }
    

    .status_link a{

      font-size: 12px;
      margin-left: -5;

    }
    

    /* this area is for sec */


  }

  




