
{% extends 'base.html' %}

{% block content %}
{% load static %}
<section class="container HIRE_sec">
    <div class="row">
        <div class="col-2">        <h1>right side</h1></div>
        <div class="col-sm-8 HIRE_sec_div_form"> 
            <h1>Heir Developer</h1>
            <form class="g-3" enctype="multipart/form-data" method="POST" action="">
                {% csrf_token %}
                <div class="">{{ form.as_p }}</div>
                    
                <input type="submit" value="Upload"/>
            </form>        
        </div>

        <div class="col-2">     <h1>>   left side</h1></div>
    </div>
    

</section>

{% endblock content %}