{% extends 'base.html' %}

{% block content %}
{% load static %}




<section class="index">
    {%  include 'sec.html' %} 
  <section class="index_sec2">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    {%for job in jobs reversed  %}
                    <div class="a">
                        <p class="btn btn-primary sam ">samdhdfjh</p>
                        <p class="btn btn-warning sam1 ">{{job.Job}}</p>
                        <div class="row">

                            <!-- job.Company_logo  user.is_authenticated-->
                            
                            <div class="col-sm-2 "><img class="img_q" src="{{job.Company_logo.url}}"></div>
            
                            <div class="col-sm-10">
                
                                <div class="b">
                                    {{job}}
                                   <a href="{% url 'job_detail' job.id %}"> <h3>{{job.Job_title}}</h3></a>
                                    <p >At {{job.Company_name}} -- {{job.Location}}-- {{job.Job}}</p>
                                    <div><p>{{job.short_Job_description}}</p></div>
                                </div>
                                
                            </div>
                        
                        </div>
                    </div>

                    {% endfor %}
                </div>
                <div class="col-md-2"> </div>
            </div>

        </div>

    </section>  



    <section class="index_sec3">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-sm-8"> 
                <div class="row">
                    <h1 style="text-align: center;">Find Vue.js jobs by location</h1>
                    <div class="col-lg-2"></div>
                    <div class="col-md-4 index_sec3_row2">
                        <p>Popular cities</p>
                        <p>Vue.js jobs in New York</p>
                       <p> Vue.js jobs in London</p>
                       <p> Vue.js jobs in Paris</p>
                    </div>
                    <div class="col-md-4 index_sec3_row2 ">
                        <p>Filter by job type</p>
                        <p>Full-time Vue.js jobs</p>
                        <p>Part-time Vue.js jobs</p>
                        <p>Freelance Vue.js jobs</p>
                       <p> Internship Vue.js jobs</p>
                        <p>Remote Vue.js jobs</p>
                    </div>
                    <div class="col-lg-2"></div>

                </div>
                               
            </div>
            <div class="col-lg-2"></div>

        </div>

    </section>





    <section class="index_sec3">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-sm-8 index_sec3_form"> 
              <h1>  Subscribe to our newsletter</h1>
              <p>Get the best of our listings into your inbox. Issued weekly.</p>
                
              <form action="" method="POST">
                {% csrf_token %}

                  <input type="text" name="name" id="" placeholder="Name">

                  <input type="email" name="email" id="" placeholder="Email">

 

                  <input type="submit" value="YES PLEASE">
                    <p> ✋️ We promise to respect your inbox. Subscribe!</p>
                
              </form>          
            </div>
            <div class="col-lg-2"></div>

        </div>

    </section>


</section>

<!--  -->

{%  include 'footer.html' %}
{% endblock content %}
