{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="index">
    
{%  include 'sec.html' %}
<section class="index_sec2">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                {%for job in jobs reversed  %}
                <div class="a">
                    <p class="btn btn-primary index_btn1 "> take </p>
                    <p class="btn btn-warning index_btn1 ">{{job.Job}}</p>
                    <div class="row">

                        <!-- job.Company_logo  user.is_authenticated-->
                        
                        <div class="col-sm-2 "><img class="img_q" src="{{job.Company_logo.url}}"></div>
        
                        <div class="col-sm-10">
            
                            <div class="b">
                                <p>{{job}}</p>
                               <a href="{% url 'job_detail' job.id %}"> <h3>{{job.Job_title}}</h3></a>
                                <p class="index_job" >At {{job.Company_name}} -- {{job.Location}}-- {{job.Job}}</p>
                                <div><p>{{job.short_Job_description}}</p></div>
                            </div>
                            
                        </div>
                    
                    </div>
                </div>

                {% endfor %}
            </div>
            <div class="col-md-2"> </div>
        </div>

    </div>

</section>  


Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aliquid sunt ea nam corporis nemo laudantium voluptates eligendi necessitatibus ipsum at placeat adipisci sequi facere, repudiandae quas exercitationem ut eos.


{%  include 'footer.html' %}

</div>


{% endblock content %}
