{% extends 'base.html' %}

{% block content %}
{% load static %}

{%  include 'sec.html' %}

<section class="index_sec2">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                {%for job in jobs reversed  %}
                <div class="index_sec2_a">
                    <p class="btn btn-primary index_btn1 "> take </p>
                    <p class="btn btn-warning index_btn2 ">{{job.Job}}</p>

                    <div class="row">
                        <!-- job.Company_logo  user.is_authenticated-->
                    
                        <div class="col-sm-2 "><img class="img_q" src="{{job.Company_logo.url}}"></div>
        
                        <div class="col-sm-10">
                            <div class="index_sec2_b">
                                <a  href="{% url 'job_detail' job.id %}"> <h3>{{job.Job_title}}</h3></a>
                                <p class="index_job" >At {{job.Company_name}} --{{job.Job}}</p>
                                <p>{{job.short_Job_description}}</p>
                             
            
                            </div>
                            
                        </div>
                    
                    </div>
                </div>

                {% endfor %}
            </div>
            <div class="col-md-2"> </div>
        </div>

    </div>

</section>  


{%  include 'footer.html' %}



{% endblock content %}