{% extends 'base.html' %}

{% block content %}
{% load static %}

{%  include 'sec.html' %}

{{status}}           
<section class="index_sec2">
    <div class="container">
        <div class="row">
            <div class="col-md-1 ">
                
            </div>
            <div class="col-md-8">
                {%for job in jobs  %}
                    <div class="index_sec2_job">
                        <div class="row">
                            <div class="col-sm-2 job_img">                            
                                <img src="{{job.Company_logo.url}}" alt="company logo" width="100">
                            </div>
                            <div class="col-sm-9">
                                <div><a href="{%  url 'job_detail' job.id%}">{{job.Company_name}}</a></div>
                                
                                <div>At {{job.Company_name}} -- {{job.Location}}-- {{job.Job}}</div>
                                <div>{{job.short_des}}</div>
                            
                            </div>

                        </div>
                       

                    </div>
                

                {% endfor %}
            </div>
            <div class="col-md-2"> </div>

        </div>

    </div>

</section>  



{% endblock content %}